@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.progress {
  transform: rotate(-90deg);
  stroke-dasharray: 533.8;
  /* stroke-dashoffset: 0; */
  animation: 5s linear forwards;
}

@keyframes working {
  to {
    stroke-dashoffset: 533.8;
  }
}

@keyframes resting {
  to {
    stroke-dashoffset: 0;
  }
}
